{% extends "./base.html" %} 

{% block content %} 
    <main class="index-content">
        <section class="title-block">
            <p>La Cour de l'Imaginaire a créé le</p>
            <h1>Prix de la Cour de l'Imaginaire</h1>
        </section>

        <section class="home-description">
            <p>destiné à récompenser une œuvre inédite relevant de l'Imaginaire : 
                Fantastique, Science-Fiction, Fantasy... remarquée tant par ses qualités 
                d'écriture que par son originalité créative.
            </p>
            <p>Il est le fruit d'une réflexion avec un éditeur-partenaire.</p>

            <section class="current-challenge">
                <p>La sélection pour le prix 2024 est ouverte !</p>
                <p>Découvrez le règlement <a>ici.</a></p>
            </section>
        </section>

        <aside>
            <a>LE PRIX 2023 a été attribué  à ...</a>
        </aside>
    </main>
{% endblock %}